In [81]:
import sqlite3

In [22]:
"""Task 1: Create a Database and Table
Create a database called library.db.
Create a table called books with the following columns:
id (integer, primary key)
title (text, not null)
author (text, not null)
published_year (integer)
genre (text)"""

'Task 1: Create a Database and Table\nCreate a database called library.db.\nCreate a table called books with the following columns:\nid (integer, primary key)\ntitle (text, not null)\nauthor (text, not null)\npublished_year (integer)\ngenre (text)'

In [13]:
#Create a Database and Table
#Create a database called library.db.
my_db=sqlite3.connect("library.db")

In [12]:
#Create a table called books with the following columns

cursor=my_db.cursor()
cursor.execute("create table book(id integer primary key,title text not null,author text not null,publisher_year integer,genre text)")

In [76]:
"""Task 2: Insert Data into the Table
Insert 5 records into the books table.
Include books of different genres like "fiction", "non-fiction", etc."""

'Task 2: Insert Data into the Table\nInsert 5 records into the books table.\nInclude books of different genres like "fiction", "non-fiction", etc.'

In [33]:
cursor.execute("insert into book (title, author, publisher_year, genre)values ('The Catcher in the Rye', 'J.D. Salinger', 1951, 'Fiction')   ")
cursor.execute("insert into book (title, author, publisher_year, genre)values ('Sapiens: A Brief History of Humankind', 'Yuval Noah Harari', 2011, 'Non-fiction')   ")
cursor.execute("insert into book (title, author, publisher_year, genre)values ('1984', 'George Orwell', 1949, 'Dystopian')   ")
cursor.execute("insert into book (title, author, publisher_year, genre)values ('The Lean Startup', 'Eric Ries', 2011, 'Business')   ")
cursor.execute("insert into book (title, author, publisher_year, genre)values ('The Hobbit', 'J.R.R. Tolkien', 1937, 'Fantasy')   ")

In [47]:
cursor.execute("INSERT INTO book (title, author, publisher_year, genre) VALUES ('Harry Potter and the Sorcerers Stone', 'J.K. Rowling', 1997, 'Adventure')")

In [34]:
"""Task 3: Query Data
Select all books published after 2010.
Select books written by a specific author (e.g., 'J.K. Rowling')."""

"Task 3: Query Data\nSelect all books published after 2010.\nSelect books written by a specific author (e.g., 'J.K. Rowling')."

In [ ]:
data=cursor.execute("select title,author, publisher_year from book where publisher_year>2010")

In [73]:
for i in data:
    print(i)

In [43]:
"""Task 4: Update Data
Update the genre of a book where the title is "Harry Potter" to "Fantasy"."""

'Task 4: Update Data\nUpdate the genre of a book where the title is "Harry Potter" to "Fantasy".'

In [54]:
cursor.execute(" update book set genre ='Fantasy' where title ='Harry Potter and the Sorcerers Stone'")

In [56]:
for i in cursor.execute("select * from book  where title='Harry Potter and the Sorcerers Stone'"):
    print(i)

(6, 'Harry Potter and the Sorcerers Stone', 'J.K. Rowling', 1997, 'Fantasy')

In [57]:
"""Task 5: Delete Data
Delete a book from the books table where the published_year is less than 2000."""

'Task 5: Delete Data\nDelete a book from the books table where the published_year is less than 2000.'

In [59]:
cursor.execute("delete from book where publisher_year<2000")

In [61]:
for i in cursor.execute("select * from book"):
    print(i)

(2, 'Sapiens: A Brief History of Humankind', 'Yuval Noah Harari', 2011, 'Non-fiction')
(4, 'The Lean Startup', 'Eric Ries', 2011, 'Business')

In [62]:
"""Task 6: Use GROUP BY and HAVING
Group books by genre and count how many books belong to each genre.
Use HAVING to show only genres that have more than 1 book."""

'Task 6: Use GROUP BY and HAVING\nGroup books by genre and count how many books belong to each genre.\nUse HAVING to show only genres that have more than 1 book.'

In [32]:
#insertion all data after deleting all rows to perform next tasks
cursor.execute("insert into book (title, author, publisher_year, genre)values ('The Catcher in the Rye', 'J.D. Salinger', 1951, 'Fiction')   ")
cursor.execute("insert into book (title, author, publisher_year, genre)values ('Sapiens: A Brief History of Humankind', 'Yuval Noah Harari', 2011, 'Non-fiction')   ")
cursor.execute("insert into book (title, author, publisher_year, genre)values ('1984', 'George Orwell', 1949, 'Dystopian')   ")
cursor.execute("insert into book (title, author, publisher_year, genre)values ('The Lean Startup', 'Eric Ries', 2011, 'Business')   ")
cursor.execute("insert into book (title, author, publisher_year, genre)values ('The Hobbit', 'J.R.R. Tolkien', 1937, 'Fantasy')   ")
cursor.execute("INSERT INTO book (title, author, publisher_year, genre) VALUES ('Harry Potter and the Sorcerers Stone', 'J.K. Rowling', 1997, 'Adventure')")

In [33]:
for i in cursor.execute("select * from book"):
    print(i)

(1, 'The Catcher in the Rye', 'J.D. Salinger', 1951, 'Fiction')
(2, 'Sapiens: A Brief History of Humankind', 'Yuval Noah Harari', 2011, 'Non-fiction')
(3, '1984', 'George Orwell', 1949, 'Dystopian')
(4, 'The Lean Startup', 'Eric Ries', 2011, 'Business')
(5, 'The Hobbit', 'J.R.R. Tolkien', 1937, 'Fantasy')
(6, 'Harry Potter and the Sorcerers Stone', 'J.K. Rowling', 1997, 'Adventure')
(7, 'The Catcher in the Rye', 'J.D. Salinger', 1951, 'Fiction')
(8, 'Sapiens: A Brief History of Humankind', 'Yuval Noah Harari', 2011, 'Non-fiction')
(9, '1984', 'George Orwell', 1949, 'Dystopian')
(10, 'The Lean Startup', 'Eric Ries', 2011, 'Business')
(11, 'The Hobbit', 'J.R.R. Tolkien', 1937, 'Fantasy')
(12, 'Harry Potter and the Sorcerers Stone', 'J.K. Rowling', 1997, 'Adventure')

In [36]:
"""Task 8: Use ORDER BY and LIMIT
Write a query to show the top 3 most recent books, ordered by published_year in descending order.
"""

'Task 8: Use ORDER BY and LIMIT\nWrite a query to show the top 3 most recent books, ordered by published_year in descending order.\n'

In [45]:
limit=cursor.execute("select * from book limit(3)")

In [46]:
for i in limit:
    print(i)

(1, 'The Catcher in the Rye', 'J.D. Salinger', 1951, 'Fiction')
(2, 'Sapiens: A Brief History of Humankind', 'Yuval Noah Harari', 2011, 'Non-fiction')
(3, '1984', 'George Orwell', 1949, 'Dystopian')

In [50]:
orderby=cursor.execute(" select * from book order by publisher_year desc")

In [51]:
for i in orderby:
    print(i)

(2, 'Sapiens: A Brief History of Humankind', 'Yuval Noah Harari', 2011, 'Non-fiction')
(4, 'The Lean Startup', 'Eric Ries', 2011, 'Business')
(8, 'Sapiens: A Brief History of Humankind', 'Yuval Noah Harari', 2011, 'Non-fiction')
(10, 'The Lean Startup', 'Eric Ries', 2011, 'Business')
(6, 'Harry Potter and the Sorcerers Stone', 'J.K. Rowling', 1997, 'Adventure')
(12, 'Harry Potter and the Sorcerers Stone', 'J.K. Rowling', 1997, 'Adventure')
(1, 'The Catcher in the Rye', 'J.D. Salinger', 1951, 'Fiction')
(7, 'The Catcher in the Rye', 'J.D. Salinger', 1951, 'Fiction')
(3, '1984', 'George Orwell', 1949, 'Dystopian')
(9, '1984', 'George Orwell', 1949, 'Dystopian')
(5, 'The Hobbit', 'J.R.R. Tolkien', 1937, 'Fantasy')
(11, 'The Hobbit', 'J.R.R. Tolkien', 1937, 'Fantasy')

In [52]:
"""Task 9: Use Aggregate Functions
Find the average published_year of the books in the database.
Find the maximum and minimum published_year of the books."""

'Task 9: Use Aggregate Functions\nFind the average published_year of the books in the database.\nFind the maximum and minimum published_year of the books.'

In [63]:
average_publisher_year=cursor.execute("select id,title,author, avg(publisher_year) from book ")

In [64]:
for i in average_publisher_year:
    print(i)

(1, 'The Catcher in the Rye', 'J.D. Salinger', 1976.0)

In [65]:
maximum_publish_year=cursor.execute("select id,title,author, max(publisher_year) from book ")

In [66]:
for i in maximum_publish_year:
    print(i)

(2, 'Sapiens: A Brief History of Humankind', 'Yuval Noah Harari', 2011)

In [67]:
minimum_publish_year=cursor.execute("select id,title,author, min(publisher_year) from book ")

In [68]:
for i in minimum_publish_year:
    print(i)

(5, 'The Hobbit', 'J.R.R. Tolkien', 1937)

In [70]:
"""Task 10: Use Subqueries
Write a query to find books where the published year is greater than the average published year of all books."""

'Task 10: Use Subqueries\nWrite a query to find books where the published year is greater than the average published year of all books.'

In [79]:
task10=cursor.execute("select publisher_year from book where (select avg(publisher_year) from book)<publisher_year")

In [80]:
for i in task10:
    print(i)

(2011,)
(2011,)
(1997,)
(2011,)
(2011,)
(1997,)